@import "./header";

/* Sección Header */
.capaTodo {
  z-index: 9;
  background-color: #000;
}

.general {
  width: 100%;
  height: 85vh;
  max-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.general .cajon__center {
  width: 90%;
}

.general .textos-header {
  width: 100%;
  margin-left: 0;
  text-align: center;
}

.general .textos-header p {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgb(133, 133, 133);
  text-align: center;
  text-shadow: none;
}

.general .textos-header h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  color: #fff;
  text-shadow: 0.3rem 1px 10px #000;
}

.general .textos-header h1::before,
.general .textos-header h1::after {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  content: '"';
  opacity: 0.5;
}

.general .logo {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  width: 100%;
}

.general .logo #logoCantor {
  position: relative;
  z-index: 10;
  width: 200px;
}

@media (max-width: 720px) {
  .general {
    height: 60vh;
    width: 100%;
    margin: auto;
  }

  .general .cajon__center {
    position: relative;
  }

  .general .textos-header p {
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.473);
  }

  .general .textos-header h1 {
    font-size: 2rem;
    line-height: 1.3;
  }

  .general .logo #logoCantor {
    width: 100%;
    margin: 0;
    margin-top: 5%;
    position: sticky;
  }
}
