/* Header */
header {
	// CABECERA DE LA PAGINA PRINCIPAL
	width: 100%;
	height: auto;
	background: var(--text);
	// fallback for old browsers
	background: -webkit-linear-gradient(
			to bottom,
			hsla(0, 0%, 0%, 0.863),
			hsla(0, 0%, 0%, 0.342)
		),
		url(/img/banner.jpg);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
			to right,
			hsla(0, 0%, 0%, 0.859),
			hsla(0, 0%, 0%, 0.512)
		),
		url(/img/banner.jpg);
	// /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	overflow: hidden;
	//   margin-bottom: -50px;

	@media screen and (max-width: 720px) {
		background: -webkit-linear-gradient(
				to bottom,
				hsla(0, 0%, 0%, 0.863),
				hsla(0, 0%, 0%, 0.342)
			),
			url(/img/banner.jpg);
		/* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(
				to bottom,
				hsla(0, 0%, 0%, 0.359),
				hsla(0, 0%, 0%, 0.877)
			),
			url(/img/banner.jpg);
		// /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-size: cover;
		background-attachment: local;
		background-position: top;
		overflow: hidden;
		margin-bottom: -50px;
	}
}

main {
	position: relative;
	width: 100%;
	//   margin: auto;

	padding: 0px 0 0 0;
	//   top: 50px;
	z-index: 5;
}

@media (max-width: 700px) {
	#noticias {
		margin: 0 auto;
		width: 92%;
	}
}

/*!-//////////////////////////////////////////////////////////////////////////////////////////*/
/*!-//////////////////////////////////////////////////////////////////////////////////////////*/

/*!S E C C I O N   H E  D E R */
/* SECCION DE CABECERA      T I T U L O     Y    L O  G O S*/
/*!-//////////////////////////////////////////////////////////////////////////////////////////*/
/*!-//////////////////////////////////////////////////////////////////////////////////////////*/
.capaTodo {
	z-index: 9;
	background-color: #000;
}

.general {
	width: 100%;
	height: 85vh;
	max-height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;

	.cajon__center {
		// padding-top: 50px;
		width: 90%;
		position: fixed;

		.textos-header {
			width: 100%;
			margin-left: 0px;
			text-align: center;
			p {
				font-size: 1.8rem;
				font-weight: 700;
				color: rgb(133, 133, 133);
				text-align: center;
				text-shadow: none;
			}

			h1 {
				font-size: 2.8rem;
				line-height: 1.3;
				color: #fff;
				text-shadow: 0.3rem 1px 10px #000;

				&::before {
					font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
						sans-serif;
					content: '"';
					opacity: 0.5;
				}
				&::after {
					font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
						sans-serif;
					content: '"';
					opacity: 0.5;
				}
			}
		}

		.logo {
			position: relative;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			padding-top: 10px;
			width: 100%;

			#logoCantor {
				position: relative;
				z-index: 10;
				// filter: opacity(70%);
				width: 200px;
			}
		}
	}

	/*L O G O S */
}

@media (max-width: 720px) {
	.general {
		height: 60vh;
		width: 100%;
		margin: auto;

		.cajon__center {
			position: relative;
			.textos-header {
				p {
					font-size: 1.3rem;
					color: rgba(255, 255, 255, 0.473);
				}

				h1 {
					font-size: 2rem;
					line-height: 1.3;
				}
			}

			/*L O G O S */

			#logoCantor {
				width: 100%;
				margin: 0;
				margin-top: 5%;
				position: sticky;

				// filter: opacity(0%);
			}
		}
	}
}
